/*.cart{*/
/*    color: red;*/
/*    position: absolute;*/

/*}*/


/*.close-Btn{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
    /*justify-content: flex-end;*/


/*}*/

.cart-image{
    height: 70px;
    width: 50px;
    border-radius: 10px;
}

tr{
    border: 1pt solid black;}